<!DOCTYPE html>
<html lang="en">
  <head>
  <title>ICU Safe Discharge</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/article.css') }}">
  
  </head>
  <body>
  <ul>
<li><a href="/">Home</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/about">About</a></li>
<li><a href="/slides">Slides</a></li>
</ul>
    <div class="container">
      <iframe src="https://docs.google.com/presentation/d/1t1RgxXlXE1mVlw6tMJeIo3fKynUN_6NWXRboq5pYqA8/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
  </body>
</html>
